.top-heading {
    font-family: 'Yeseva One', cursive;
    /* font-size: 60px; */
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
body {
    font-family: 'Poppins', sans-serif;
}
.heading-light-black {
    color: #333333;
}
.heading-black {
    color: black;
}
.heading-blue {
    color: #13103A;
}
.heading-orange {
    color: #FFAD5A;
}
p {
    color: #3E3E3E;
}
.smaller {
    font-size: 16px; 
}
.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 4%;
}
.half-width img {
    width: 70%;
}
.top-banner {
    margin-bottom: 100px;
}
.stay-focused {
    margin-top: 150px;
}
.bar {
    border-left: 3px solid #FF5959;
    border-radius: 2px;
    padding-left: 10px;
}
.link-button {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
#second-heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.mission-area {
    margin-bottom: 100px;
}
.mission-item {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 20px;
    border-radius: 10px;
}
.mission-item img {
    width: 40%;
}
#mission-blue {
    background-color: #b0e8ee;
}
#mission-red {
    background-color: #f3c5c5;
}
#mission-yellow {
    background-color: #FFF4D6;
}
.dev-area {
    padding: 25px;
}
.dev-area img {
    width: 35%;
    height: 100%;
}
.limit {
    padding: 50px;
}